:root {
  --main-orange : #F0552B;
  --paragraph-gray: #AEAFAB;
  --title-color: #192125;
  --card-pink-bg: #FFEEEA;
  --card-villas-bg:#FAFAFA;
  --card-orange:#FFEEEA;
  --main-font : 'Montserrat', sans-serif;
  --marker-color:rgb(246, 52, 65)
}
